@import url("light-theme.css");

.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}

.antd-checkbox-transform span {
  transform: translate(1px, -2px) !important;
  align-self: auto !important;
}
.ant-checkbox-inner,
.ant-checkbox-input {
}
.conversation-container {
  /* display: flex; */

  flex-direction: column;
  align-items: flex-start;
  height: 500px;
  overflow-y: auto;
}

.connected-users {
  overflow-y: auto;
  max-height: 300px;
}
.ant-card-body {
  padding: 0px !important;
}

.conversation-container {
}

.conversation-messages {
  margin: 5px 5px 5px 5px;
  height: calc(100% - 70px); /* Adjust the height of the messages container */
  overflow-y: auto;
  padding-bottom: 50px;
}

.conversation-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.message-input {
  flex-grow: 1;
  margin-right: 10px;
}

.send-button {
  background-color: #1890ff;
  color: #fff;
  border: none;
}

.send-button:hover {
  background-color: #40a9ff;
}
.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.right .message-content {
  align-self: flex-end;
  background-color: lightblue;
  padding: 5px;
  border-radius: 5px;
}

.left .message-content {
  align-self: flex-start;
  background-color: lightgreen;
  padding: 5px;
  border-radius: 5px;
}

.coversation-active {
  background-color: #80808030;
}
